/* variable css */
:root {
    --black: #000000;
    --off-black: #060606;
    --white: #ffffff;
    --off-white: #f1f1f1;
    --dark-grey: #141414;
    --grey: #666666;
    --light-grey: #a8a8a8;
    --yellow: #ffc400;
    --background-yellow: #fcefc8;
    --tag-yellow: #ffde7b;
    --deep-yellow: #a47e00;
    --background-green: #9aff95;
}

/* Font face import */
@font-face {
    font-family: Poppins;
    src: url(../font/JosefinSans-VariableFont_wght.ttf);
}


/* Reset all web parameters */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    user-select: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
input,
button,
.icon {
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.nav {
    position: sticky;
    top: 0;
    background-color: #ffffffa1;
}

.order-details {
    width: 800px;
    background-color: var(--off-white);
    margin: 50px auto;
    padding: 20px;
}

.order-details h1 {
    font-size: 24px;
}

hr {
    border: 0.5px solid var(--black);
    margin: 10px 0;
}

.checkout-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

h3 {
    font-size: 24px;
    margin: 30px 0 10px 0;
}

.checkout-form {
    width: 800px;
    margin: auto auto;
    padding: 20px;
    background-color: var(--yellow);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

input {
    width: 100%;
    margin: 4px;
    height: 35px;
    padding: 8px;
    border: 1px solid var(--black);
    border-radius: 5px;
}

.grouping {
    display: flex;
}

.btn-animation {
    width: 180px;
    background-color: var(--off-white);
    border: 1px solid var(--black);
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    margin: 4px;
    transition: all 0.4s;
    cursor: pointer;
}

.btn-animation span {
    color: var(--black);
    cursor: pointer;
    display: block;
    position: relative;
    transition: 0.4s;
}

.btn-animation span a {
    text-decoration: none;
    color: var(--black);
}

.btn-animation span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.btn-animation:hover span {
    padding-right: 25px;
}

.btn-animation:hover span:after {
    opacity: 1;
    right: 0;
}

footer {
    text-align: center;
    /* background-color: var(--yellow); */
}

.footer-content {
    background-color: var(--yellow);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    margin-top: 100px;
    padding: 50px 0;
    height: 100%;
}

@media (max-width: 850px) {
    .order-details {
        width: 95vw;
        margin: 50px auto;
    }

    .checkout-form {
        width: 95vw;
        margin: auto auto;
    }

    .footer-content {
        padding-top: 80px;
    }
}